body {
}

/* Sidemenu */



.sidenav {
    height: 100%; /* Prends toute la longueur */
    width: 0; /* A changer par JS */
    position: fixed;
    z-index: 1; /* Au dessus de la page */
    top: 0;
    left: 0;
    background-color: #111; /* Fond noir */
    overflow-x: hidden; /* Pas de déroulement horizontal */
    padding-top: 60px; /* Marge haut */
    transition: 0.5s; /* Duree d'animation */
}

/* Liens du Sidemenu */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* Effets hover des liens */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Bouton de fermeture du Sidemenu */
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

/* Style du main, pour decaler lors de l'ouverture */
#mainFrame {
    margin-left : 250px;
    overflow:hidden;
    overflow-x:hidden;
    overflow-y:hidden;
    height:100%;
    width:calc(100%-100px);

}

/* Pour les plus petits ecrans (mobile) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.toggle-button { background-color: white; margin: 5px 0; border-radius: 20px; border: 2px solid #D0D0D0; height: 24px; cursor: pointer; width: 50px; position: relative; display: inline-block; user-select: none; -webkit-user-select: none; -ms-user-select: none; -moz-user-select: none; }
.toggle-button button { cursor: pointer; outline: 0; display:block; position: absolute; left: 0; top: 0; border-radius: 100%; width: 30px; height: 30px; background-color: white; float: left; margin: -3px 0 0 -3px; border: 2px solid #D0D0D0; transition: left 0.3s; }
.toggle-button-selected { background-color: #83B152; border: 2px solid #7DA652; }
.toggle-button-selected button { left: 26px; top: 0; margin: 0; border: none; width: 24px; height: 24px; box-shadow: 0 0 4px rgba(0,0,0,0.1); }


#sideZone{
    height: 100%; /* Prends toute la longueur */
    position:absolute;
    top:0;
    left:0;
    width:250px;
    border-right:outset;
}