<ion-view view-title="PCControler">
    <ion-content>
        <h1>PCControler</h1>

        <p1>
            <button id="DecreaseVolume"
                    class="ion-android-volume-mute"></button>
            <button id="IncreaseVolume"
                    class="ion-android-volume-down"</button>
            <button id="Mute"
                    class="ion-android-volume-off"</button>
        </p1>

        <br />

        <p2>
            <button id="Play"
                    class="ion-play"</button>
            <button id="Pause"
                    class="ion-pause"<button>
            <button id="Stop"
                    class="ion-stop"</button>
        </p2>
    </ion-content>
</ion-view>
