<ion-view view-title="Media" ng-controller="MyController">
    <link rel="stylesheet" type="text/css" href="../css/ionicons.css">
  <ion-content>
<p1>

    <ul class="list">

        <li class="item item-toggle" ; ng-click="run()"> 
            Media Player
            <label class="toggle toggle-assertive">
                <input type="checkbox">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>

    </ul> 
    <p>
        <div class="button-bar" style="width:96%;margin-left:2%">
            <div class="button button-calm" id="Play" ; ng-click="play()">
                <i class="ion-play" style="text-align:center"></i>
            </div>

            <div class="button button-energized" id="Pause" ; ng-click="pause()">
                <i class="ion-pause"></i>
            </div>

            <div class="button button-assertive" id="Stop" ; ng-click="stop()">
                <i class="ion-stop"></i>
            </div>
        </div>
    </p>
    <p>
        <div class="button-bar" style="width:96%;margin-left:2%">
            <div class="button button-balanced" id="Previous" ; ng-click="previous()">
                <i class="ion-ios-skipbackward" style="text-align:center"></i>
            </div>

            <div  class="button button-balanced" id="Shuffle" ; ng-click="shuffle()">
                <i class="ion-shuffle"></i>
                {{shuffleState}}
                
            </div>

            <div class="button button-balanced" id="Next" ; ng-click="next()">
                <i class="ion-ios-skipforward"></i>
            </div>
        </div>


    </p>

</p1><br/>

<div style="margin-left:1%">
    <input id="search" type="search" placeholder="Research Art. or Alb." name="search" ng-model="search">
    <button id="SearchArtist" class="button icon-left ion-search" ng-click="searchArtist(search)">Artist</button>
    <button id="SearchAlbum" class="button icon-left ion-search">Album</button>
</div><br /><br />
      
<p3>
    &nbsp;&nbsp;Current song :
    <div style="text-align:center">
        <div>{{consumer.MediaPlayer.CurrentSong.Value[0].Item1}}</div>
        <div>{{consumer.MediaPlayer.CurrentSong.Value[0].Item2}}</div>
        <div>{{consumer.MediaPlayer.CurrentSong.Value[0].Item3}}</div>
        <div></div>
    </div>
    <p><span id="CurrentArtist"></span> - <span id="CurrentAlbum"></span></p>   <br />
    <p>&nbsp;&nbsp;Current playlist :</p>    <br />
    <table id="CurrentPlaylist"></table>
    <button id="BackArtist" class="button icon-left ion-ios-arrow-back">Back to Artist</button>
</p3>
  </ion-content>
</ion-view>
